/* body {
  background-color: var(--rui-cool-grey-400);
} */
html {
  color: var(--rui-warm-grey-900)
}

a.nav-link {
  background-color: var(--rui-grey-000) !important;
}

.pointer {
  cursor: pointer;
}

/* text colors */
.text-rui-grey-200 {
   color: var(--rui-grey-200)
}